{{ define "head" }}
<style>
    header svg {
      fill: #fff;
    }
    
    nav.menu a,
    nav.menu span {
      color: #8799ad;
    }

    nav.menu a:hover {
      border-bottom-color: #2a3442;
    }

    nav.social a svg {
      fill: #fff;
    }

    main section:first-child {
      background: rgb(20, 30, 40);
      color: #fff;
      display: flex;
      flex-direction: column;
      height: 700px;
      justify-content: center;
      margin-top: -200px;
      max-width: none;
      min-height: calc(100vh);
    }
  
    main section:first-child h1 {
      font-size: 40px;
      font-weight: 100;
      letter-spacing: -0.5px;
      line-height: 1.4;
      max-width: 980px;
      margin: auto;
    }
  
    main section:first-child h1 strong {
      display: block;
      font-weight: 700;
      letter-spacing: -2px;
      margin-top: 20px;
    }
  </style>
{{ end }}

{{ define "main" }}
  {{.Content}}
{{ end }}
